#root {
  margin: 0 auto;
  /* width: 100%; */
}

/* src/App.css */
.App {
  text-align: center;
  font-family: 'Arial, sans-serif';
  background-color: #f0f0f0;
  padding: 20px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.filter {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.filter input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.movie-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.movie-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.movie-card h2 {
  font-size: 1.2rem;
  color: #333;
}

.movie-card p {
  color: #666;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.add-movie-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px auto;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(10, 10, 0, 1.1);
}

.add-movie-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-movie-form button {
  padding: 10px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.add-movie-form button:hover {
  background-color: #218838;
}
